/* --- Reset --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* --- Lenis --- */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* --- Fonts --- */
@font-face {
  font-family: "ff-heading";
  src: url("./assets/fonts/Tusca.otf");
  font-display: swap;
}

@font-face {
  font-family: "ff-body";
  src: url("./assets/fonts/KOJISA.otf");
  font-display: swap;
}

/* @font-face {
  font-family: "ff-body2";
  src: url("./assets/fonts/Captura-Now-Medium.otf");
  font-display: swap;
} */

@font-face {
  font-family: "ff-body3";
  src: url("./assets/fonts/Dakdo.otf");
  font-display: swap;
}

@font-face {
  font-family: "ff-text";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-display: swap;
}

/* --- Custom Properties --- */
:root {
  --bg-clr-dark: hsl(0, 0%, 10%);
  --bg-clr-light: hsl(50, 16%, 70%);
  --primary-clr: hsl(0, 0%, 100%);
  --secondary-clr: hsl(0, 0%, 61%);
  --third-clr: hsl(12, 98%, 60%);

  --fs-normal: 1rem;
  --fs-large: clamp(1rem, 5vw + 1rem, 10rem);
  --fs-xl: clamp(3rem, 9vw + 1rem, 10rem);
}

/* --- Base Styles --- */
h1 {
  color: var(--primary-clr);
  font-family: "ff-heading";
  font-size: var(--fs-xl);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-clr);
  font-family: "ff-body3";
}

body {
  background-color: var(--bg-clr-dark);
  font-family: "ff-body";
}

p,
div,
img,
a,
ul {
  color: var(--primary-clr);
}

img,
a {
  font-family: "ff-text";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* --- Regular Styles --- */
header {
  padding: 10rem 1rem;
}

header > nav {
  display: none;
}

.about {
  margin: 5rem 3rem;
}

.about__title {
  font-size: var(--fs-large);
}

.about__desc {
  font-family: "ff-text";
}

.entry__title {
  font-size: var(--fs-normal);
}

.entry__desc {
  font-family: "ff-text";
  font-size: var(--fs-normal);
}

.entry {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 6rem auto 0.4rem;
  row-gap: 2rem;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.entry::after {
  content: "";
  grid-column: span 2;
  margin: 0 auto;
  width: 90%;
  height: 0.1rem;
  background-color: black;
}

.entry__meta {
  grid-row: 1;
}

.entry__media {
  grid-row: 2;
}

.entry figure {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.entry__media a {
  cursor: pointer;
}

.entry__media img {
  border-radius: 2rem;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.mail > div,
.socials > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: var(--secondary-clr);
}

/* --- Media Queries---  */
@media (min-width: 720px) {
  /* :root {
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-xl: 5rem;
  } */
  .about {
    margin: 10rem 20rem;
  }

  .entry {
    grid-template-columns: calc(10vw + 15rem) calc(10vw + 20rem);
    grid-template-rows: auto 1rem 0.4rem;
    row-gap: 0;
    column-gap: 4rem;
  }

  .entry__meta,
  .entry__media {
    grid-row: 1;
  }
}
